<ion-view view-title="Create new schedule">
    <ion-nav-buttons side="right">
    </ion-nav-buttons>
    <ion-content class="padding">
        <p>Please enter schedule information</p>
        <div class="list list-inset">

            <label class="item item-input">
                <input ion-datetime-picker type="text" placeholder="Date of schedule" ng-model="schedule.startDate"
                       value="{{ schedule.startDate|date: 'dd.MM.yyyy - HH:mm:ss' }}">

            </label>

            <label class="item item-input item-select">
                <div class="input-label">
                    Type of schedule
                </div>
                <select ng-model="schedule.type">
                    <option value="SINGLE">Single</option>
                    <option value="WEEKLY">Weekly</option>
                </select>
            </label>
        </div>
        <button class="button button-block button-calm" ng-click="createGroupSchedule(groupId, schedule)">Save</button>
    </ion-content>
</ion-view>
